@import "../scss/base";

.section-what-we-do .content-container {
  flex-direction: column;
}

main section:nth-child(2) {
  margin-top: -200px;
}

@media only screen and (min-width: 600px) {
  body main .section-what-we-do {
    padding-bottom: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  body main .section-what-we-do {
    padding-bottom: 2em;
  }
}

@media only screen and (min-width: 1440px) {
  body main .section-what-we-do {
    padding-bottom: 3em;
  }
}
