@import "../scss/base.scss";

body main section.jordan-hero {height: 300px;} 

    .ps-and-zing .row {
      max-height: 250px;
      .card {
        max-height: 200px;
      }
    }

.container-row {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:20px;
    padding-bottom:20px;
    display: flex;
    }

    .row-column{
      width: 50%;
      max-height:100%;
      margin-left: 20px;
      margin-right:20px;
      box-sizing: border-box;
      padding-left: 10px;
    }

    .image-row-column{
      width: 50%;
      max-height:100%;
      margin-left: 20px;
      margin-right:20px;
      box-sizing: border-box;
      padding-left: 10px;
    }

    .button {
      background-color: white;
      color: #2b3040;
      border: 2px solid #c7001c;
    }

    .right-column-img
    {
      display: flex;
      float: right;
    }