@import "../scss/variables.scss";

.sms {
  padding-top: 2em;
}

.sms .content-container {
  flex-direction: column;
  padding-bottom: 4em;
}

.sms .content-body-path {
  .p-end {
    padding-bottom: 1em;
  }
}

.ps-and-zing .row {
  max-height: 250px;
  .card {
    max-height: 200px;
  }
}
