@import "../scss/variables.scss";

.sms {
  padding-top: 2em;
  .content-container {
    flex-direction: column;
    padding-bottom: 4em;
  }
  .content-body-path .p-end {
    padding-bottom: 1em;
  }
}

.section-hero .content-container .col-1 p {
  margin-bottom: 2em;
}

.lets-chat {
  padding-top: 5em;
  .content-container div {
    width: 100%;
    #reactHubspotForm0 {
      width: 100%;
      iframe {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .ps-and-zing .row {
    max-height: 250px;
    .card {
      max-height: 200px;
    }
  }
}
