@import "../scss/variables.scss";
@import "../scss/break-points";

footer {
  margin-top: -140px;
  background-image: $gradient;
  height: 730px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 2em 1rem;

  .newsletter {
    background: white;
    border: $light-grey 1px solid;
    border-radius: 5px;
    color: $text-secondary;
    z-index: 1;
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 300px;
    margin-bottom: 2em;
    padding: 1em;

    .col-1,
    .col-2 {
      flex-grow: 1;

      form {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        input {
          height: 30px;
          border-radius: 1em;
          border: solid 1px $zing-red;
          padding: 1em;
          margin: 1em;
        }
      }
    }
    .call-to-action {
      margin: 1em;
    }
  }

  .logo {
    margin-bottom: 1.5em;
    img {
      width: 200px;
    }
  }

  .links {
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    @include bp(sm-max) {
      span {
        display: none;
      }
    }

    @include bp(sm-max) {
      justify-content: center;
      display: block;
    }

    a {
      min-width: 40%;
      @include bp(sm-max) {
        min-width: auto;
        margin: 0.4rem 0.6rem;
        display: block;
      }
    }
  }

  .social {
    margin-bottom: 1.5em;

    a {
      margin: 0 0.5em;
      cursor: pointer;
    }
  }

  .cr {
    font-size: 0.9em;
  }

  .icon-ref {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 600px) {
  footer {
    height: 630px;

    .newsletter {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      text-align: initial;
      height: 230px;
      width: 85%;
    }

    .links {
      width: 100%;
      max-width: 559px;
      a {
        min-width: initial;
      }
    }
  }
}
