@import "../scss/variables.scss";

@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideout {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

header {
  background-image: $gradient;
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;

    img {
      height: 4em;
    }

    i {
      font-size: 2em;
      color: $zing-red;
    }

    .call-to-action {
      display: none;
    }
  }
}

@media only screen and (min-width: 600px) {
  header {
    .header {
      width: 80%;
      margin: 0 auto;
      padding: 1em 0;
      max-width: 1024px;

      .call-to-action {
        display: initial;
      }

      i {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  header {
    .header {
      width: 70%;
    }
  }
}
