@import "../scss/variables.scss";
@import "../scss/break-points";

@keyframes slidein {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideout {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

body.openMenu {
  overflow: hidden;
}

header {
  background-image: $gradient;
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1em;

    img {
      height: 4em;
      @include bp(xlg-max) {
        height: 3.2em;
      }
      @include bp(sm-max) {
        height: 3em;
      }
    }
    .selected {
      position: relative;
      &:before {
        border-bottom: 3px solid $zing-red;
        position: absolute;
        top: 1.65rem;
        content: "";
        left: 0;
        width: 100%;

        @include bp(lg-max) {
          display: none;
        }
      }
    }

    i {
      font-size: 2em;
      color: $zing-red;
      margin: 0.2rem 2rem 0 0;
    }

    .call-to-action {
      display: none;
    }

    a {
      outline: none;
    }
  }
}

@media only screen and (min-width: 600px) {
  header {
    .header {
      width: 80%;
      margin: 0 auto;
      padding: 1em 0;
      max-width: 1024px;
      position: relative;

      .call-to-action {
        display: block;
        width: 8rem;
        padding-left: 0;
        padding-right: 0;
        text-align: center;

        @include bp(lg-max) {
          margin-right: 3rem;
        }
      }

      i {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  header {
    .header {
      width: 70%;
    }
  }
}
