@import "./variables";

body {
  color: $text-primary;

  main {
    section {
      background-color: $light-grey;
      color: $text-secondary;
      transform: skewY(-6deg);

      .content-container {
        transform: skewY(6deg);

        .content-header {
          display: flex;
          flex-direction: column;
          align-items: center;

          .title-red {
            color: $zing-red;
            line-height: 1.3em;
          }

          .title {
            font-family: "CeraPro-Medium";
            line-height: 1.3em;
            text-align: center;
          }

          hr {
            width: 100px;
            height: 2px;
            margin-top: 1em;
            margin-bottom: 2em;
            background: $zing-red;
            border: none;
          }
        }

        .card {
          background: white;
          padding: 2em;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .title {
            font-family: "CeraPro-Medium";
          }

          hr {
            border: none;
            background-color: $text-secondary;
            height: 2px;
            width: 1em;
            margin-top: 0.1em;
            margin-bottom: 1em;
          }
        }

        .content-body-path {
          .row {
            display: flex;
            flex-direction: row;
            margin-bottom: 1em;

            .linker {
              min-width: 100px;
              height: 308px;
              position: relative;
              display: none;

              img {
                position: absolute;
                top: 130px;
                left: 25px;
                z-index: -1;
                display: none;
              }
            }

            .image {
              display: none;
            }
          }

          .row:nth-child(2n) {
            .linker img {
              left: -25px;
            }
          }
        }
      }
    }

    section:nth-child(2n) {
      position: relative;
      background-color: white;
    }

    section .content-container {
      min-height: 30vh;
      padding: 2em 1em;
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .col-1 {
        min-width: 50%;
        z-index: 1;

        @media only screen and (max-width: 1023px) {
          min-width: 100%;
        }
      }

      .col-2 {
        min-width: 50%;
        z-index: 1;
      }

      .col-1,
      .col-2 {
        img {
          display: none;
          width: 100%;
        }
      }

      p {
        margin-bottom: 1em;
      }
    }

    .section-hero {
      position: relative;
      height: 650px;
      background-image: $gradient;
      background-color: transparent;
      color: $text-primary;
      transform: none;
      .content-container {
        transform: none;
        align-items: flex-start;
        display: flex;
        flex-direction: row;
      }

      &:before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        content: "";
        background-image: url("/images/world-dot-map.png");
        background-size: cover;
        background-position: center;
        opacity: 0.3;
      }
    }
  }
}

.call-to-action {
  display: inline-block;
  background: $slate;
  border: 1px solid $alpha-white;
  padding: 0.5em 2em;
  border-radius: 2em;
  text-decoration: none;
  cursor: pointer;
  color: $text-primary;
  position: relative;
  z-index: 1;

  &:hover {
    background: adjust-color($slate, $lightness: 20%);
  }

  &:visited,
  &:hover,
  &:active,
  &:focus {
    color: $text-primary;
  }

  &.red {
    background-color: $zing-red;
  }
}

@media only screen and (min-width: 600px) {
  body main {
    .section-hero {
      height: 600px;
    }

    section .content-container {
      width: 80%;
      max-width: 1024px;
      margin: 0 auto;
      padding: 2em 0;
      flex-wrap: nowrap;

      .card {
        height: 308px;
      }

      .content-body-path .row {
        .linker {
          display: block;
        }
      }

      .col-1 {
        padding-right: 1em;
      }
      .col-2 {
        padding-left: 1em;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  body main section .content-container {
    width: 70%;

    .col-1,
    .col-2 {
      img {
        display: block;
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  body main section .content-container .content-body-path .row {
    .image {
      display: block;
    }
  }
}
