//Break points
@mixin bp($point) {
  $xxs-max: "(max-width: 374px)";
  $xs-max: "(max-width: 480px)";
  $sm-max: "(max-width: 767px)";
  $mdl-max: "(max-width: 991px)";
  $md-max: "(max-width: 1023px)";
  $lg-max: "(max-width: 1199px)";
  $xlg-max: "(max-width: 1439px)";

  @if $point == xxs-max {
    @media #{$xxs-max} {
      @content;
    }
  } @else if $point == xs-max {
    @media #{$xs-max} {
      @content;
    }
  } @else if $point == sm-max {
    @media #{$sm-max} {
      @content;
    }
  } @else if $point == md-max {
    @media #{$md-max} {
      @content;
    }
  } @else if $point == mdl-max {
    @media #{$mdl-max} {
      @content;
    }
  } @else if $point == lg-max {
    @media #{$lg-max} {
      @content;
    }
  } @else if $point == xlg-max {
    @media #{$xlg-max} {
      @content;
    }
  }
}
